.header {
  background: #E6F6FE;
  border-radius: 12px;
  height: 90px;
  margin: 20px;
  padding: 0 40px;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.nd-nav {
  display: flex;
  gap: 30px;
  margin: 0 200px;
}

.nd-link {
  text-decoration: none;
  color: inherit;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
}

.nd-cta {
  display: inline-block;
  padding: 10px 18px;
  background-color: #1376F8;
  color: #ffffff !important;
  text-decoration: none;
  border-radius: 8px;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "General Sans", sans-serif;
}
.promo-text {
  margin-left: 20px;
}
.promo-text h1 {
  font-size: 62px;
  margin-bottom: 20px;
}

.promo-text p {
  font-size: 18px;
  line-height: 1.5;
}

.promo-image img {
  max-width: 600px;
  border-radius: 12px;
}

.services {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #E6F6FE;
  padding: 40px;          /* внутренние отступы */
  margin: 0 20px;         /* внешние отступы слева и справа */
  border-radius: 16px;
  font-family: "General Sans", sans-serif;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 64px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.card p {
  font-size: 16px;
  margin-bottom: 12px;
}

.card a {
  font-size: 14px;
  color: #1376F8;
  text-decoration: none;
}
