.header {
  background: #E6F6FE;
  border-radius: 12px;
  height: 90px;
  margin: 20px;
  padding: 0 40px;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.nd-nav {
  display: flex;
  gap: 30px;
  margin: 0 200px;
}

.nd-link {
  text-decoration: none;
  color: inherit;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
}

.nd-cta {
  display: inline-block;
  padding: 10px 18px;
  background-color: #1376F8;
  color: #ffffff !important;
  text-decoration: none;
  border-radius: 8px;
  font-family: "General Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
